body{
    margin-top: 100vh;
}

.hidden {
    opacity: 0;

}

<<<<<<< HEAD
<<<<<<< HEAD
#background{
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
}

=======
>>>>>>> parent of a002280... fixed some code in css
=======
>>>>>>> parent of a002280... fixed some code in css
video {
    width: 100%;    
    height: auto;   
}

#activevideo{
    position: absolute; 
    bottom: 0;
    left: 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    z-index: 10;
    width: 100%;
    height: 100%;
=======
    z-index: 1;
    width: 100%    !important;
    height: auto   !important;
>>>>>>> parent of a002280... fixed some code in css
=======
    z-index: 1;
    width: 100%    !important;
    height: auto   !important;
>>>>>>> parent of a002280... fixed some code in css
=======
    z-index: 1;
    width: 100%    !important;
    height: auto   !important;
>>>>>>> parent of a002280... fixed some code in css
=======
    z-index: 1;
    width: 100%    !important;
    height: auto   !important;
>>>>>>> parent of a002280... fixed some code in css
}

#idlevideo{
    position: absolute; 
    bottom: 0;
    left: 0;
<<<<<<< HEAD
<<<<<<< HEAD
    
    z-index: 20;
    width: 100%;
    height: 100%;

    z-index: 10;
    width: 100%    !important;
    height: auto   !important;

=======
    z-index: 10;
    width: 100%    !important;
    height: auto   !important;
>>>>>>> parent of a002280... fixed some code in css
=======
    z-index: 10;
    width: 100%    !important;
    height: auto   !important;
>>>>>>> parent of a002280... fixed some code in css
}

#video1 {
    transition: opacity 1s;
}
