body{
    margin-top: 100vh;
}

.hidden {
    opacity: 0;

}

video {
    width: 100%;    
    height: 100%;   
}

canvas{
    display: none;

}

#activevideo{
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#idlevideo{
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#video1 {
    transition: opacity 1s;
}